body {
    font-family: 'Roboto', sans-serif;
}
:root {
    --dark-color: #19283f;
    --main-color: #33d1cc;
    --red-color: #ff3150;
    --yellow-color: #ffc400;
    --feat-color: #eff7fa;
}
a {
    text-decoration: none;
}
/* Start Navbar */
.navbar {
    background-color: var(--dark-color);
}

.navbar .container .nav-link {
    color: white;
}

.navbar .container .nav-item .nav-link.active,
.navbar .container .nav-item .nav-link:focus,
.navbar .container .nav-item .nav-link:hover {
    color: var(--main-color);
}

.navbar .container .search {
    color: var(--main-color);
    border-left: var(--main-color) 2px solid;
    cursor: pointer;
}

.navbar .navbar-toggler  {
    color: white;
    font-size: 25px;
    border-color: white;
}
.navbar .navbar-toggler:focus {
    box-shadow: none;
}
/* End Navbar */
/* Start Landing */
.landing {
    background-color: var(--dark-color);
    min-height: calc(100vh  - 70px);
}
.main-btn {
    background-color: var(--red-color);
    color: var(--yellow-color);
}
.main-btn:hover {
    background-color: #8e1e2f;
    color: var(--yellow-color);
}
.main-title {
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-title::after {
    content: "";
    width: 120px;
    height: 2.5px;
    background-color: var(--main-color);
    text-align: center;
    position: absolute;
    bottom: 0;
}
/* End Landing */
/* Start Feature  */
.features .icon-holder {
    height: 200px;
}
.features .icon-holder svg {
    left: 50%;
    transform: translateX(-50%);
}
.features .icon-holder .number {
    font-size: 12rem;
    color: var(--feat-color);
}
.features .icon-holder .icon {
    color: var(--main-color);
}
.features .feat h4 {
    color: var(--yellow-color);
}
/* End Feature  */
/* Start Project  */
.projects {
    background-color: var(--feat-color);
}
.projects .container ul li {
    padding: 0.5rem;
    font-size: 17px;
}
.projects .container ul li:not(.active):hover {
    color: var(--red-color);
    cursor: pointer;
}
.projects .container ul .active {
    background-color: var(--red-color);
    border-radius: 50%;
} 
.projects .container ul .active {
    color: var(--yellow-color);
}
.projects .container .row .box {
    padding: 5px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.projects .container .row .box::before {
    content: attr(data-project);
    position: absolute;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    background-color: rgb(51 209 204 / 76%);
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    transform: translateX(calc(-100% - 5px));
}
.projects .container .row .box:hover::before {
    transform: translateX(0);
}
/* End Project  */

/* Start About  */
/* End About  */
/* Start team */
.team {
    background-color: var(--feat-color);
}
.team h2 {
    color: var(--yellow-color);
}
.team h4 {
    background-color: var(--main-color);
}
/* End team */
/* Start Our Work */
.our-work {
    background-color: var(--dark-color);
}
/* End Our Work */
/* Start Subscribe */
.subscribe {
    background-color: var(--yellow-color);
}
.subscribe input[type=text] {
    border: none;
    border-bottom: white 1px solid;
}
.subscribe ::placeholder {
    color: white;
}
.subscribe input[type=text]:focus {
    outline: none;
}
.subscribe input[type=submit] {
    color: var(--yellow-color);
    background-color: var(--dark-color);
}
/* End Subscribe */
/* Start Footer */
.footer {
    background-color: var(--dark-color);
}
.grap {
    color: var(--main-color);
}
.inc {
    color: var(--yellow-color);
}
.footer .social li svg{
    width: 30px;
    height: 30px;
}
.footer .social .linkedin {
    color:dodgerblue;
}
.footer .social .instagram {
    color: cornflowerblue;
}
.footer .social .twitter {
    color: cornflowerblue;
}
.footer .social .facebook {
    color: dodgerblue;
} 
.footer a:hover {
    text-decoration: underline;
}
/* End Footer */